header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 20px 15px;
    padding-top: 60px;
    text-align: center;
}
