.bg-darcula {
    color: #A9B7C6;
    background-color: #2B2B2B;
}
.bg-darcula .var {
    color: #9876AA;
}
.bg-darcula .method {
    color: #FFC66D;
}
.bg-darcula .semicolon {
    color: #CC7832;
}
.bg-darcula .string {
    color: #6A8759;
}
.bg-darcula .folded {
    background-color: #3A3A3A;
    color: #8C8C8C;
}
.bg-darcula .keyword {
    color: #CC7832;
    font-weight: bold;
}

pre {
    display: inline-block;
    padding: 0;
}
