<header>
    <input type="hidden" name="header-training" value="Учим не кодить,<br />а программировать">
    <input type="hidden" name="description-training" value="Профессионал ценен не только своим умением быстро поднять проект,<br />но и умением заранее обдумать архитектуру наперёд.<br /><strong>Учим снижать издержки и избавляться от ненужного хлама.</strong>">
    <input type="hidden" name="button-training" value="Корпоративные тренинги">

    <input type="hidden" name="header-consulting" value="Висит стата?<br />Экспирятся спринты?">
    <input type="hidden" name="description-consulting" value="Рано или поздно наступает момент, когда не хватает мощностей или сил.<br />Сайт тупит, стата запаздывает, спринты висят, клиент уходит.<br /><strong>Проводим полный аудит бизнес-логики и предоставляем решения.</strong>">
    <input type="hidden" name="button-consulting" value="Консалтинг и прогнозирование">

    <input type="hidden" name="header-training" value="Вовремя<br />и качественно">
    <input type="hidden" name="description-training" value="Построение архитектуры и разработка высоконагруженных систем.<br />Чёткая работа по техническому заданию и приятные сроки.<br /><strong>Делаем так, как другие не могут себе позволить.</strong>">
    <input type="hidden" name="button-training" value="Разработка и внедрение">

    <div class="header-content">
        <div class="header-content-inner">
            <h1></h1>
            <hr>
            <p class="description"></p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll"></a>
        </div>
    </div>
</header>
