---
layout: default
title: Блог о Doctrine
page_title:
  - type: var
    value: $Orkestro
  - value: ->
  - type: method
    value: getRepository
  - value: (
  - type: string
    value: "'"
  - type: folded
    value: Blog
    abbr: AppBundle:Blog
  - type: string
    value: "'"
  - value: )
  - value: ->
  - type: method
    value: findAllBySection
  - value: (
  - type: string
    value: "'doctrine'"
  - value: )
  - type: semicolon
    value: ;
---

{% include navigation_inner.html %}
{% include blog/header.html %}
{% include blog/list.html section="doctrine" %}
