<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Наши контакты</h2>
                <hr class="primary">
                <p>
                    Чувствуете необходимость в переменах?<br />
                    Ваши проекты похожи на карточный домик?<br />
                    Надоело тратить деньги на сервера?<br />
                    Давайте поговорим об этом!
                </p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>+7 (965) 309-88-37</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:your-email@your-domain.com">connect@orkestro.pro</a></p>
            </div>
        </div>
    </div>
</section>
