<section class="bg-primary" id="training">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Мы учим делать так, как другие не умеют</h2>
                <hr class="light">
                <p class="text-faded">
                    Мы не заставляем читать "от сих до сих" и не кидаемся заученными на Хабре фразами.<br />
                    Каждое решение, которые мы предлагаем, основано на опыте и уверенности.<br />
                    Рассказываем, почему нужно делать так, а не иначе, и почему вообще это нужно делать.<br />
                    Толкаем к пониманию предоставленных решений и способам их внедрения.<br />
                    Учим лидов быть лидами, техдиров - техдирами, проджектов - проджектами.<br />
                    Проводим тонкую настройку рабочих процессов отдела разработки.
                </p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">А вот и наши контакты</a>
            </div>
        </div>
    </div>
</section>
