{% capture cache %}
{% for title_item in page.page_title %}
{% if "var" == title_item.type %}<span class="var">{{ title_item.value }}</span>{% continue %}{% endif %}
{% if "method" == title_item.type %}<span class="method">{{ title_item.value }}</span>{% continue %}{% endif %}
{% if "string" == title_item.type %}<span class="string">{{ title_item.value }}</span>{% continue %}{% endif %}
{% if "folded" == title_item.type %}<span class="folded">{{ title_item.value }}</span>{% continue %}{% endif %}
{% if "semicolon" == title_item.type %}<span class="semicolon">{{ title_item.value }}</span>{% continue %}{% endif %}
{% if nil == title_item.type %}{{ title_item.value }}{% endif %}
{% endfor %}
{% endcapture %}
{{ cache|strip_newlines }}
